:root {
	--bg: #0f1115;
	--surface: #181b22;
	--surface2: #20242d;

	--border: #2f3542;

	--text: #ffffff;
	--sub: #9ca3af;
	--sub2: #9ca3af79;

	--accent: #3797f0;
	--accent-hover: #79b5ff;
	--secondary-accent: #d4f037;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:
		Segoe UI,
		Arial,
		sans-serif;
	background: var(--bg);
	color: var(--text);
	height: calc(100vh - 70px);
}

.container {
	display: flex;
	height: calc(100vh - 70px);
}

main {
	flex: 1;
	overflow: auto;
}

.pageHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.pageHeader span {
	color: var(--sub);
}

.searchBar {
	width: 260px;
	padding: 10px 14px;
	border: none;
	border-radius: 10px;
	background: var(--surface2);
	color: white;
}

#sort {
	width: 130px;
	padding: 10px 35px 10px 14px; /* extra right space for arrow */
	border: none;
	border-radius: 10px;
	background: var(--surface2);
	color: white;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M4 6l4 4 4-4z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 14px;
}

#cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	gap: 20px;
}

.padContent {
	padding: 30px;
}

.secondaryCheckbox {
    display: inline-flex;
    align-items: center;
    gap: 7px;
	color: var(--sub);

    cursor: pointer;
    user-select: none;
}

/* Hide native checkbox */
.secondaryCheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Custom checkbox */
.checkboxBox {
    position: relative;

    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;

    flex-shrink: 0;
    box-sizing: border-box;

    background: var(--surface2);
    border: 1px solid var(--border);
    border-radius: 4px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition:
        background 0.15s ease,
        border-color 0.15s ease;
}

/* Checked */
.secondaryCheckbox input[type="checkbox"]:checked + .checkboxBox {
    background: var(--accent);
    border-color: var(--accent);
}

/* Checkmark */
.secondaryCheckbox input[type="checkbox"]:checked + .checkboxBox::after {
    content: "✓";

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

/* Hover */
.secondaryCheckbox:hover .checkboxBox {
    border-color: var(--accent);
}

/* Keyboard accessibility */
.secondaryCheckbox input[type="checkbox"]:focus-visible + .checkboxBox {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}

.linkColor {
	color: var(--accent);
	cursor: pointer;
}